:host {

    @mixin setColors($bg, $color) {
        background-color: $bg;
        color: $color;
        border-color: $color;
    }
    .alert {
        display: flex;
        align-items: center;
        gap: 16px;
        border: 2px solid transparent;
        border-radius: 8px;
        max-width: 600px;
        width: 100%;
        margin: auto;
        padding: 1rem;
        span {
            margin-right: 16px;
        }
        p {
            margin: 0;
        }
    }
    .info {
        @include setColors(#cce1ff, #2f5b9b)
    }
    .warning {
        @include setColors(#fffad7, #6d631f)
    }
    .danger {
        @include setColors(#f7bfbf, #6b0606)
    }
}