:host {
    .user {

        @mixin shadow-mix($blur, $spread, $alpha) {
            box-shadow: 0px 0px $blur $spread rgba(0,0,0, $alpha);
        }
        border-radius: 8px;
        display: grid;
        grid-template-columns: 130px 1fr;
        gap: 16px;
        padding: 16px;
        background-color: #d8d8e6;
        border: 2px solid;
        border-color: transparent;
        @include shadow-mix(16px, -6px, .25);
        transition: box-shadow .227s ease-in-out, border-color .227s ease-in-out;

        &:hover {
            @include shadow-mix(26px, -6px, .25);
            border-color: #b9b9e4;

            .user {
                &__github {
                    background-color: #e4ebd3;
                }
            }
        }
        &__img {
            max-width: 130px;
            width: 100%;
            border-radius: 400px;
            border: 1px solid #1b1674;
            @include shadow-mix(15px, -8px, .7);
        }
        &__name {
            margin-bottom: 4px;
            transition: color .227s ease-in-out;
        }
        &__type {
            margin-top: 4px;
        }
        &__info {

        }

        &__github {
            border-radius: 100px;
            background-color: #adabee;
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color .227s ease-in-out;

            img {
                width: 35px;
                height: auto;
                
            }

        }
    }
}