:host {
    .results {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
        @media screen and (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .pagination {
        max-width: 100%;
        display: flex;
        &__number {
            margin: 0 4px;
            width: 70px;
        }
    }
    .warning {
        background-color: #f7bfbf;
        color: #6b0606;
        border: 2px solid #6b0606;
        border-radius: 8px;
        max-width: 70%;
        margin: auto;
        padding: 1rem;
    }
}