:host {
    form {
        $padding: 6px;
        font-size: 16px;
        $btn-width: 100px;
        display: flex;
        max-width: 600px;
        margin: 2rem 0;
        
        input {
            border: 1px solid;
            border-color: #143ea9;
            border-radius: 4px;
            padding: $padding;
            width: calc(100% - #{$btn-width});
            margin-right: 16px;
            font-size: 16px;
        }
        
    }
}