/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #343434;
}

h1, h2, h3, h4, h5, h6 {
    color: #2c2c2c;
}

button {
    $padding: 6px;
    $btn-width: 100px;
    width: $btn-width;
    padding: $padding;
    background-color: #143ea9;
    border: 1px solid;
    border-color: #1a53e3;
    color: #ffffff;
    border-style: solid;
    cursor: pointer;
    transition: background-color .227s ease-in-out, border-color .227s ease-in-out;
    font-size: 16px;
    border-radius: 4px;
    &:hover {
        background-color: #1a53e3;
        border-color: #143ea9;
    }
    &[disabled] {
        background-color: #99b5fb;
        cursor: default;
    }
}